{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [
      2,
      "never"
    ],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-console": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "spaced-comment": 0,
    "no-unused-vars": 1,
    "max-len": 1,
    "semi": 1,
    "arrow-parens": 1,
    "camelcase": 0,
    "no-plusplus": 0,
    "arrow-body-style": 1,
    "no-var": 1,
    "eol-last": 0,
    "no-multiple-empty-lines": 1,
    "prefer-template": 0,
    "no-nested-ternary": 0,
    "prefer-arrow-callback": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "plugins": [
    "react",
    "chai-friendly"
  ],
  "extends": [
    "airbnb-base"
  ]
}